<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_of_requests</title>
</head>
<body>
    
        <h2>{{ object.user }}</h2>
        <h2>{{ object.orig_addr }}</h2>
        <h2>{{ object.dest_addr }}</h2>
        <h2>{{ object.search_for_taxi }}</h2>
        <h2>{{ object.achieve_dest }}</h2>
        <h2>{{ object.travel_costs }}</h2>
        <hr>

</body>
</html>